<div class="container mt2">
    <div class="row mt-2">
        <div class="col-md-6">
            <h2>Accedi </h2>
            <p class="alert alert-primary" role="alert" [(ngModel)]="coloreAlertLogin"
                [style.background-color]="coloreAlertLogin == true ? '#7FFF00' : '#FFD700'"ngDefaultControl >inserisci username e
                password</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">

            <div class="form-group">
                <label for="inputUsernameLogin">username:</label>
                <input type="text" class="form-control" name="inputUsernameLogin" [(ngModel)]="inputUsernameLogin"
                    placeholder="Inserisci username"ngDefaultControl  />
            </div>
            <div class="form-group">
                <label for="inputPasswordLogin">password:</label>
                <input type="password" class="form-control" name="inputPasswordLogin" [(ngModel)]="inputPasswordLogin"
                    placeholder="Inserisci password" ngDefaultControl />
            </div>

            <button type="button" class="btn btn-outline-secondary btn-block mt-1"
                (click)="accediButtone()">Login</button>

        </div>
    </div>
</div>