<div class="container">

    <div class="row mt-2">
        <div class="col-md-6">
            <h1>Registrazione</h1>
            <p class="alert alert-primary" role="alert" [(ngModel)]="coloreRegistrazione"
                [style.background-color]="coloreRegistrazione == true ? '#7FFF00' : '#FFD700'" ngDefaultControl >registrati per accedere
                allo store</p>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputUsername">Username:</label>
                <input type="text" class="form-control" name="inputUsername" [(ngModel)]="inputUsername"
                    placeholder="Inserisci username" ngDefaultControl />
            </div>
            <div class="form-group">
                <label for="inputPassword">Password:</label>
                <input type="password" class="form-control" name="inputPassword" [(ngModel)]="inputPassword"
                    placeholder="Inserisci password" ngDefaultControl />
            </div>
            <button type="button" class="btn btn-outline-secondary btn-block mt-1"
                (click)="registraUtente()">Registrati</button>
        </div>

    </div>

</div>