<div class="container " *ngIf="showlista">

    <div class="row mt-5">
        <div class="col">
            <h2>Lista Oggetti</h2>
            <table class="table">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Descrizione</td>
                        <td>Azioni</td>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let oggetto of elenco">
                        <td>
                            {{oggetto.nomeOggetto}}
                        </td>
                        <td>{{oggetto.descrizione}}</td>
                        <td colspan="2">
                            <button type="button" class="btn btn-success">acquista</button>
                            <button type="button" class="btn btn-info ml-2">dettaglio</button>
                        </td>


                        
                    
                    </tr>

                </tbody>
            </table>
    
        </div>
    </div>
</div>
