<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color:grey !important">
    <a class="navbar-brand" href="index.html">Ecomerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/registrazione" routerLinkActive="true">Registrati</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="true">login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/logout" routerLinkActive="true">logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/store" routerLinkActive="true">Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dettaglio" routerLinkActive="true">Account</a>
        </li>
        </ul>
    </div>
</nav>
</div>
<router-outlet></router-outlet>