<!-- <div class="container" *ngIf="!showDettaglioCons">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Consumabile non trovato!</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
</div> -->
<div class="container" *ngIf="showDettaglio"> 
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <h1>Account utente</h1>

            <div class="form-group">
                <label for="inputUsername">username:</label>
                <input type="text" class="form-control" name="inputUsername" [(ngModel)]="inputUsername" />
            </div>

            <div class="form-group">
                <label for="inputPassword">password:</label>
                <input type="password" class="form-control" name="inputPassword" [(ngModel)]="inputPassword" />
                
            </div>

<!-- 
            <div class="alert alert-primary" role="alert" *ngIf="showTuttoOk">
                Operazione effettuata con successo!
              </div> -->

            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-block"(click)="EliminaUtente()">Elimina Account</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning btn-block">Modifica campi</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        
    </div>
</div>